@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

:root {
  --yellow-color: #FEA116;
  --blue-color: #0f172b;
  --light-gray-color: #CED4DA;
  --dim-gray-color: #666565;
  --dark-gray-color: #343A40;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.hero-container {
  position: relative;
}

.bg-img,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-img {
  background-image: url("../assets/bg-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.overlay {
  background: rgba(15, 23, 43, 0.9);
  z-index: -1;
}

.nav-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  padding: 21px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin: 7px;
  padding: 5px;
  font-weight: 500;
}

#hamburger,
#check {
  display: none;
}

.yellow-text {
  color: var(--yellow-color, yellow) !important;
}

.book-table-btn {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--yellow-color, yellow);
  text-wrap: nowrap;
  box-sizing: border-box;
}

.nav-bar .book-table-btn {
  border-radius: 2px;
  width: 152px;
  height: 40px;
  padding: 8px 24px 8px 24px;
}

.left-hero .book-table-btn {
  width: 200px;
  height: 56px;
  padding: 16px 48px 16px 48px;
}

.hero-content {
  display: flex;
  justify-content: center;
}

.left-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-heading {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 62px;
  color: white;
}

.hero-text {
  margin: 0;
  padding: 8px 0px 25px 0px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  width: 574px;
}

.hero-img {
  width: 500px;
  height: 500px;
  padding: 30px;
}

.attr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 96px;

}

.yellow-attr {
  background-color: var(--yellow-color, yellow) !important;
  color: white;
}

.attr {
  background-color: white;
  padding: 2rem;
  width: 25%;
  border-radius: 2px;
}

.attr-icon {
  height: 48px;
}

.attr-title {
  font-size: 20px;
  text-wrap: nowrap;
}

.attr-text {
  font-size: 14px;
  padding: 0;
}

/*tab*/
@media only screen and (max-width:1150px) {

  /* hero section */
  .hero-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-hero {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-heading {
    font-size: 55px;
    text-align: center;
  }

  .hero-text {
    text-align: center;
    width: 381px;
  }

  .hero-img {
    width: 70%;
    height: 70%;
  }

  /* attr section */
  .attr-container {
    flex-wrap: wrap;
    padding: 50px;
  }

}

/* mobile */
@media only screen and (max-width:540px) {

  /* hamburger */
  .nav-container {
    background-color: var(--blue-color, black);
  }

  #hamburger {
    display: block;
  }

  .nav-bar {
    display: none;
    position: absolute;
    top: 4.25rem;
    right: 0;
    overflow: hidden;
    background: var(--blue-color, black);
    z-index: 1;
    width: 100%;
  }

  .checkbtn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  #check:checked~.nav-mobile {
    display: block;
  }

  .nav-link {
    padding: 0rem 1.5rem;

    display: block;
  }

  .nav-bar .book-table-btn {
    margin: 1.5rem;
  }

  /* hero section */
  .main-heading {
    font-size: 38.5px;
  }

  .hero-text {
    width: 450px;
  }

  /* attr section */
  .attr-container {
    flex-direction: column;
    padding: 24px;
  }

  .attr {
    width: 80%;
  }
}