@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

:root {
  --yellow-color: #FEA116;
  --blue-color: #0f172b;
  --light-gray-color: #CED4DA;
  --dim-gray-color: #666565;
  --dark-gray-color: #343A40;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.yellow-text {
  color: var(--yellow-color, yellow) !important;
}

.white-text {
  color: white !important;
}

/* layers behind hero and nav bar */

.hero-container {
  position: relative;
}

.bg-img,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-img {
  background-image: url("../assets/bg-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.overlay {
  background: rgba(15, 23, 43, 0.9);
  z-index: -1;
}

.nav-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  padding: 21px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin: 7px;
  padding: 5px;
  font-weight: 500;
}

#hamburger,
#check {
  display: none;
}

.btn {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--yellow-color, yellow);
  text-wrap: nowrap;
  box-sizing: border-box;
}

.nav-bar .book-table-btn {
  border-radius: 2px;
  width: 152px;
  height: 40px;
  padding: 8px 24px 8px 24px;
}

/* hero section */

.hero-content {
  display: flex;
  justify-content: center;
}

.left-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-heading {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 62px;
  color: white;
}

.hero-text {
  margin: 0;
  padding: 8px 0px 25px 0px;
  font-weight: 400;
  font-size: 16px;
  color: white;
  width: 574px;
}

.left-hero .book-table-btn {
  width: 200px;
  height: 56px;
  padding: 16px 48px 16px 48px;
}

.hero-img {
  width: 500px;
  height: 500px;
  padding: 30px;
}

/* attribute section */

.attr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 96px;

}

.yellow-bg {
  background-color: var(--yellow-color, yellow) !important;
}

.attr {
  background-color: white;
  padding: 2rem;
  width: 25%;
  border-radius: 2px;
}

.attr-icon {
  height: 48px;
}

.attr-title {
  font-size: 20px;
  text-wrap: nowrap;
  color: var(--blue-color, black);
}

.attr-text {
  font-size: 14px;
  padding: 0;
  color: var(--dim-gray-color, gray);
}

/* about section */

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 96px;
  gap: 30px;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 270px);
  grid-template-rows: repeat(2, 270px);
  gap: 15px 15px;
}

.large-about-img {
  width: 270px;
  height: 270px;
}

.small-about-img {
  width: 203px;
  height: 203px;
}

.small-img-top {
  align-self: end;
}

.small-img-bottom {
  justify-self: end;
}

.about-content {
  width: 50%;
}

.heading-container {
  display: flex;
}

.section-heading {
  font-family: Pacifico;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding-right: 9px;
  color: var(--yellow-color, yellow);
}

.horizontal-divider{
  width: 45px;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--blue-color, black);
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.about-title-icon {
  height: 40px;
  padding: 9px;
}

.about-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--dim-gray-color, gray);
  width: 537px;
}

.highlight {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.highlight-card {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vertical-divider {
  height: 57px;
  padding-right: 9px;
  padding-left: 9px;
}

.highlight-number {
  font-size: 48px;
  font-weight: 700;
  color: var(--yellow-color, yellow);
  margin: 0%;
  padding-right: 22px;
}

.top-line {
  font-size: 16px;
  font-weight: 400;
  color: var(--dim-gray-color, gray);
  padding: 0;
  margin: 0;
}

.bottom-line {
  font-size: 16px;
  font-weight: 700;
  color: var(--blue-color, black);
  padding: 0;
  margin: 0;
  text-wrap: nowrap;
}

.read-btn {
  width: 200px;
  height: 56px;
  border-radius: 2px;
  padding: 16px 48px 16px 48px;
}

/* popular items section */

.popular-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px;
}

.menu-type-container {
  display: flex;
  gap: 32px;
  padding-top: 50px;
  padding-bottom: 67px;
}

.menu-type {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-type-icon {
  height: 32px;
}

.menu-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 75px;
  padding-bottom: 24px;
}

.menu-item-text {
  padding-left: 18px;
  padding-right: 18px;
  min-width: 65%;
}

.item-name {
  font-size: 20px;
  position: absolute;
  top: 7px;
}

.item-desc {
  font-size: 14px;
  position: absolute;
  bottom: 31px;
}

.item-price {
  font-size: 20px;
  font-weight: 700;
  color: var(--yellow-color, yellow);
  margin: 0;
  align-self: flex-start;
}

/* booking section */

.booking-container {
  height: 615px;
  display: flex;
}

.booking-left {
  width: 50%;
}

.booking-right {
  background-color: var(--blue-color, black);
  box-sizing: border-box;
  padding: 31px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
  gap: 18px 32px;
}

.input-field {
  color: var(--dim-gray-color, gray);
  height: 56px;
  width: 261px;
}

.select-wrap {
  border-radius: 2px;
  width: 261px;
  background-color: white;
  position: relative;
}

.select-label {
  font-size: 13.6px;
  font-weight: 400;
  color: rgba(102, 101, 101, 0.65);
  padding: 0 8px;
  position: absolute;
  top: 6px;
}

.no-of-people {
  width: 250px;
  font-family: Poppins;
  font-size: 16px;
  color: var(--dim-gray-color, gray);
  border: none;
  position: absolute;
  height: 40%;
  left: 5px;
  bottom: 6px;
}

#special-request {
  resize: none;
  height: 98px;
  width: 553px;
}

::placeholder {
  font-family: Poppins;
  font-size: 16px;
  padding-left: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.book-now-btn {
  border: none;
  width: 553px;
  padding: 16px;
  border-radius: 2px;
}

/* master chef section */

.master-chef-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px;
}

.chefs-container {
  display: flex;
  gap: 0px 72px;
  padding-top: 47px;
}

.chef {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chef-img {
  height: 219px;
  width:219px;
  border-radius: 50%;
}

.chef-name{
  font-size: 20px;
  font-weight: 700;
  color: var(--blue-color,black);
  padding: 0;
  margin:0;
  padding-top: 19px;
}

.chef-designation{
  font-size: 14px;
  font-weight: 400;
  color: var(--dim-gray-color,gray);
  padding: 0;
  margin:0;
  padding-top: 2px;
}

.chef-socials{
  display: flex;
  padding-top: 15;
  position: relative;
}

.chef-social-bg{
  display: flex;
  gap: 0px 8px;
/* z-index: 1; */
/* left: 0;
top: 0; */
}

.chef-social-icon{
  position: absolute;
  display: flex;
  /* z-index: 2; */
  gap: 0px 30px;
  bottom: 10;
  left: 18;
}

/* testimonials section */

.testimonials-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px;
}
.reviews-container{
display: flex;
padding-top: 48px;
gap:0px 30px;
}
.review{
  padding: 24px;
  border-radius: 2px;
  border: 1px solid #DEE2E6;
}
.review-text{
  width: 293px;
  font-size: 16px;
  font-weight:400;
  color: var(--dim-gray-color,gray);
}

.client-container{
  display: flex;
}
.client-img{
  width: 50px;
  height: 50px;
  padding-right: 16px;
}
.client-info{
  height: 50px;
}
.client-name{
  font-size: 20px;
  font-weight:700;
  color: var(--blue-color,black);
  padding: 0%;margin:0%;
}
.client-profession{
  font-size: 14px;
  font-weight:400;
  color: var(--dim-gray-color,gray);
  padding: 0%;margin:0%;
}

/* footer section */
footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #272F41;
}
.footer-text{
  font-size: 15px;
  font-weight: 400;
}
.underline-text{
  text-decoration: underline;
}

.footer-links a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  padding-right: 27px;
}

/*tab*/
@media only screen and (max-width:1150px) {

  /* hero section */
  .hero-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-hero {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-heading {
    font-size: 55px;
    text-align: center;
  }

  .hero-text {
    text-align: center;
    width: 381px;
  }

  .right-hero {
    width: 100%;
    margin: auto;
  }

  .hero-img {
    width: 70%;
    height: 70%;
  }

  /* attr section */
  .attr-container {
    flex-wrap: wrap;
    padding: 50px;
  }

  /* about section */
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 20px;
  }

  .about-grid {
    grid-template-columns: repeat(2, 183px);
    grid-template-rows: repeat(2, 183px);
    gap: 10px;
  }

  .large-about-img {
    width: 183px;
    height: 183px;
  }

  .small-about-img {
    width: 137px;
    height: 137px;
  }

  .about-content {
    width: 50%;
  }

  .section-title {
    font-size: 35px;
  }

  .about-text {
    width: 450px;
  }

  .highlight {
    flex-direction: column;
    align-items: flex-start;
  }

  /* popular items section */
  .popular-items-container {
    padding: 20px;
  }

  .menu-type-container {
    justify-content: center;
    width: 100%
  }

  .menu-item {
    width: 100%;
  }

  /* booking section */
  .booking-container {
    flex-direction: column;
  }

  .booking-left,
  .booking-img,
  .booking-right,
  .input-field,
  #special-request,
  .book-now-btn {
    width: 100%;
  }

  .no-of-people {
    width: 95%;
  }

  /* master chef section */
  .master-chef-container {
    padding: 23px;
  }
  
  .chefs-container {
    display: flex;
    flex-direction: column;
    gap: 0px 72px;
    padding-top: 47px;
  }
  
  .chef {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chef-img {
    height: 219px;
    width:219px;
    border-radius: 50%;
  }
  
  .chef-name{
    font-size: 20px;
    font-weight: 700;
    color: var(--blue-color,black);
    padding: 0;
    margin:0;
    padding-top: 19px;
  }
  
  .chef-designation{
    font-size: 14px;
    font-weight: 400;
    color: var(--dim-gray-color,gray);
    padding: 0;
    margin:0;
    padding-top: 2px;
  }
  
  .chef-socials{
    display: flex;
    padding-top: 15;
    position: relative;
  }
  
  .chef-social-bg{
    display: flex;
    gap: 0px 8px;
  z-index: 1;
  /* left: 0;
  top: 0; */
  }
  
  .chef-social-icon{
    position: absolute;
    display: flex;
    z-index: 2;
    gap: 0px 30px;
    bottom: 10;
    left: 18;
  }
  
/* testimonials section */

.testimonials-container {
  padding: 23px;
}

.reviews-container{
  flex-direction: column;
  gap:24px 0px;
  }

}

/* mobile */
@media only screen and (max-width:540px) {

  /* hamburger */
  .nav-container {
    background-color: var(--blue-color, black);
  }

  #hamburger {
    display: block;
  }

  .nav-bar {
    display: none;
    position: absolute;
    top: 4.25rem;
    right: 0;
    overflow: hidden;
    background: var(--blue-color, black);
    z-index: 1;
    width: 100%;
  }

  .checkbtn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  #check:checked~.nav-mobile {
    display: block;
  }

  .nav-link {
    padding: 0rem 1.5rem;

    display: block;
  }

  .nav-bar .book-table-btn {
    margin: 1.5rem;
  }

  /* hero section */
  .main-heading {
    font-size: 38.5px;
  }

  .hero-text {
    width: 450px;
  }

  /* attr section */
  .attr-container {
    flex-direction: column;
    padding: 24px;
  }

  .attr {
    width: 80%;
  }

  /* about section */
  /* .about-grid {
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(2, 130px);
    gap: 10px;
  }

  .large-about-img {
    width: 130px;
    height: 130px;
  }

  .small-about-img {
    width: 97px;
    height: 97px;
  } */

  .about-content {
    width: 100%;
  }

  .section-title {
    font-size: 28px;
  }

  .about-text {
    width: 377px;
  }

  /* footer section */
  footer{
    flex-direction: column;
    padding: 26px;
    background-color: var(--blue-color,black);
  }
}